.container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Сдвигает контейнер на -50% по оси X, Y. Что делает данный элемент посередине*/
}

.btn{
    position: relative;
    text-align: center;
    background-color: Transparent; /* Transparent делает фон прозрачным */
    border: 3px solid #f8f9fa;
    border-radius: 16px;
    font-size: 30px;
    color: #f8f9fa;
    height: 80px;
    width: 220px;
    letter-spacing: 1.3px; /* Межсимвольный отступ */
    text-shadow: 0 0 5px #f8f9fa;
    box-shadow: inset 0 0 0.5em 0 #f8f9fa, 0 0 0.5em 0 #f8f9fa;
}

.btn:hover{
    background-color: #f8f9fa;
    color: #000000;
    transition: .7s; /* Плавный переход */
    box-shadow: 0 5px 50px 0 #f8f9fa, 0 5px 50px 0 #f8f9fa;
}